Flask==3.1.2
pandas==2.3.3
numpy==2.2.6
scikit-learn==1.7.2
scipy==1.15.3
pyshark==0.6
requests==2.25.1
Werkzeug==3.1.3
Jinja2==3.1.6
itsdangerous==2.2.0
MarkupSafe==3.0.3
python-dateutil==2.9.0.post0
pytz==2022.1
tzdata==2025.2
joblib==1.5.2
threadpoolctl==3.6.0
certifi==2020.6.20
urllib3==1.26.5
idna==3.3
chardet==4.0.0